<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/style/navbar.css" />
</head>

<body>

	<!--new navbar code-->
	<nav class="nav" th:fragment="navbar(authors,tags,searchText,user)">
		<div class="ProjectName">
			<h1>This is My project</h1>
		</div>
		<div class="searchDiv">
			<form th:action="@{/search}">
				<input type="hidden" name="pageNo" value="1" />
				<input type="text" name="search" />
			</form>

		</div>
		<div class="filterDiv">
			<form th:action="@{/homefilter}" method="post">
				<input type="hidden" name="pageNo" value="1" />
				<input type="hidden" name="searchText" th:value="${searchText}" />
				<h2>Select Authors:</h2>
				<div th:each="author :${authors}">
					<label>
						<input type="checkbox" name="authors" th:value="${author}" th:text="${author}">
						<br>
					</label>
				</div>

				<h2>Select Tags:</h2>
				<div th:each="tag :${tags}">
					<label>
						<input type="checkbox" name="tags" th:value="${tag}" th:text="${tag}">
						<br>
					</label>
				</div>

				<h1>Select Date</h1>
				<p>Start Date</p>
				<input type="date" name="startDate" />
				<p>End Date</p>
				<input type="date" name="endDate" />
				<br>
				<br>
				<input type="submit" value="Apply Filter">
			</form>
		</div>
		<div class="sortDiv">
			<form th:action="@{/sortpost}" method="get">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="sortValue" id="flexRadioDefault1" value="asc"
						checked>
					<label class="form-check-label text-light" for="flexRadioDefault1">
						Sort By ASC
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="sortValue" id="flexRadioDefault2" value="desc">
					<label class="form-check-label text-light" for="flexRadioDefault2">
						Sort By Desc
					</label>
				</div>
				<input type="hidden" name="pageNo" value="1" />
				<button type="submit" class="btn btn-success filterbtn">Sort</button>
			</form>
		</div>
		<div class="RegisterAndLoginDiv" sec:authorize="!isAuthenticated()">
			<a href="/register"><button>Register</button></a>
		</div>
		<div class="LoginDiv" sec:authorize="!isAuthenticated()">
			<a href="/showLoginPage"><button>Login</button></a>
		</div>
		<div class="LogOutDiv">
			<form th:action="@{/account/logout}" method="post" sec:authorize="isAuthenticated()">
				<button type="submit">Logout</button>
			</form>
		</div>
		<div>
			<a sec:authorize="isAuthenticated()" th:href="@{/account/post}">write</a>
			<a sec:authorize="isAuthenticated()"
				th:href="@{/account/publishedpost/{id}(id=${#authentication.name})}">WorkSpace</a>
		</div>
	</nav>

</body>

</html>